{% extends "_layouts/base.html" %}

{% block page_title %}Items | {% endblock %}

{% block page_content %}

{% if user.is_authenticated %}
<div class="container-narrow">
	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/users/logout">Logout</a></li>
		</ul>
		<h3 class="muted">WeParty</h3>
	</div>
</div>
{% else %}
<div class="container-narrow">
	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li><a href="#">About</a></li>
			<li><a href="/users/login">Log In</a></li>
		</ul>
		<h3 class="muted">WeParty</h3>
	</div>
</div>
{% endif %}

<h2>Party Items</h2>

<ul>
	{% for item in item_list %}
	<li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a> (<a href="edit/{{ item.slug }}/">Edit</a>)</li>
	{% empty %}
	<li>Sorry, no items listed right now. Check back soon!</li>
	{% endfor %}
</ul>

<p><a class="btn btn-large" href="{% url 'items:create' %}">Add an item</a></p>
{% endblock %}
