{% extends "_layouts/base.html" %}

{% load url from future %}

{% block page_title %}{{ item.name }} | {% endblock %}

{% block page_content %}

{% if user.is_authenticated %}
<div class="container-narrow">
	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/users/logout">Logout</a></li>
		</ul>
		<h3 class="muted">WeParty</h3>
	</div>
</div>
{% else %}
<div class="container-narrow">
	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li><a href="#">About</a></li>
			<li><a href="/users/login">Log In</a></li>
		</ul>
		<h3 class="muted">WeParty</h3>
	</div>
</div>
{% endif %}

	<h2>Item: {{ item_name }}</h2>

	<p>Description: {{ item_description }}</p>

	<p>Owner Email: {{ item_owner }}</p>

	<p>Uploaded: {{ item_updated }}</p>

	<p><a href="/items/edit/{{ item.slug }}/">Edit</a></p>

	{% if images %}
		<ul>
		{% for image in images %}
			<a href=" {{ image.docfile.url }}"><img src="{{ image.docfile.url }}" /></a>
		{% endfor %}
		</ul>
	{% else %}
		<p>No images.</p>
	{% endif %}

	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>
		<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
		<p>
			{{ form.docfile.errors }}
			{{ form.docfile }}
		</p>
		<p><input type="submit" value="Upload" /></p>
	</form>

	<p><a href="{% url 'items:list' %}">&larr; Item list</a>

	<p><a href="/dashboard">&larr; Dashboard</a>

	{% if user.is_authenticated %}
		<p>Hi, Elliott</p>
	{% else %}
		<p>User not authenticated.</p>
	{% endif %}

{% endblock %}
